html, body{
  height: 100%;
  font-family: cursive;
}

body{
  background-image:url(./bgg.jpg);
  background-image: calc();
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  overflow: hidden;

}
.card{
  box-shadow: 15px 15px rgb(21, 225, 252);
  margin-top: 350px;
}


h1{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 260px;
  font-size: xx-large;

}

.cases{
  /* height: 300px; */
    /* width: 300px; */
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 18px;
  column-gap: 18px;
}

.home{
  display: block;
}
.game{
  opacity:0;
}
.cell{
  border: 5px solid rgb(189, 123, 18);
  box-shadow: 5px 6px blue;
  border-radius: 10px;
  color: chocolate;
  font-size: 120px;
  text-align: center;
  cursor: pointer;
  background-color: black;
  height: 200px;
  /* width: 150px; */

}
.winnermess{
  display: none;
}


.cell.winner{
  background-color: chocolate;
  color: azure;
}

